.product {
    padding:15px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: bisque;
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}